@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

:root{
  --background-color: #EFF5F5;
  --primary-color: #497174;
  --secondary-color: #FFE9A0;
  --tertiary-color: #FFDE00;
  --quaternary-color: #367E18;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}